@import "./normalize.css";
@font-face {
  font-family: "bignoodletitling";
  src: url("../fonts/bignoodletitling/big_noodle_titling.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/3955.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/3966.ttf") format("trSuetype");
}
@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/3967.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/3959.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/3962.ttf") format("truetype");
}
@font-face {
  font-family: "Bold Condensed";
  src: url("../fonts/3956.ttf") format("truetype");
}
@keyframes animations {
  from {
    background-color: #f6e5e0;
  }
  to {
    background-color: #e87e5d;
  }
}
p, h1, h2, h3, h4, h5, h6, ul, nav {
  margin: 0;
  padding-right: 0;
}

ul {
  padding: 0;
}

body {
  font-family: "Roboto Bold";
  font-size: 16px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.container {
  max-width: 1046px;
  box-sizing: border-box;
  padding: 0 21px;
  margin: 0 auto;
}

/*header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 144px;
  background-color: #f8f6f6;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0;
}
header .container .logo {
  margin-left: 25px;
}
header .container .logo:focus {
  outline: none;
}
header .container nav {
  padding-top: 15px;
}
header .container nav ul {
  display: flex;
  height: 100%;
  list-style-type: none;
}
header .container nav ul li {
  padding-top: 6px;
  padding-left: 25px;
}
header .container nav ul a {
  text-decoration: none;
  font-family: "Roboto Bold";
  color: #8d8c8c;
  font-size: 20.35px;
  padding-top: 6px;
}
header .container nav ul a:hover {
  color: #f6744b;
}
header .container nav ul a:focus {
  outline: none;
  border-bottom: solid 1px #f6744b;
}
header .container .menu-mob {
  display: none;
}
header .container .menu-mob .menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 101;
  padding: 0;
}
header .container .menu-mob .menu-btn-lines,
header .container .menu-mob .menu-btn-lines::before,
header .container .menu-mob .menu-btn-lines::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #171f23;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 2px #ebebeb;
}
header .container .menu-mob .menu-btn-lines::before {
  content: "";
  top: -8px;
}
header .container .menu-mob .menu-btn-lines::after {
  content: "";
  top: 8px;
}
header .container .menu-mob .menu-btn-active {
  transform: rotate(45deg);
}
header .container .menu-mob .menu-btn-active::before {
  top: 0;
  transform: rotate(0);
}
header .container .menu-mob .menu-btn-active::after {
  top: 0;
  transform: rotate(90deg);
}
header .container .menu-mob .menu-box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  text-align: center;
  background-color: #ebebeb;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition-duration: 0.5s;
  margin: 0;
  padding: 80px 0;
}
header .container .menu-mob .menu-show {
  right: 0;
}
header .container .menu-mob .menu-item {
  display: block;
  transition-duration: 0.5s;
  padding: 12px 24px;
}

@media all and (max-width: 1100px) {
  header .container {
    padding-right: 10px;
  }
}
@media all and (max-width: 920px) {
  header .container .logo {
    margin-left: 10px;
  }
  header .container nav ul li {
    margin-left: 10px;
  }
}
@media all and (max-width: 840px) {
  header .container .menu {
    display: none;
  }
  header .container .menu-mob {
    display: block;
  }
}
/*slider first*/
.slider {
  width: 100%;
  padding-top: 144px;
}
.slider h1 {
  position: fixed;
  font-family: "bignoodletitling";
  letter-spacing: 0.15em;
  font-size: 72px;
  margin-left: -99999px;
}
.slider .slide {
  position: relative;
  border: none;
  padding: 305px 0 261px;
}
.slider .slide h2 {
  font-family: "bignoodletitling";
  letter-spacing: 0.15em;
  font-size: 70px;
  font-weight: 300;
  text-shadow: black 0 0 3px;
  color: #d6d5d5;
  text-align: center;
  margin: 0 auto;
}
.slider .slide .creative {
  font-family: "bignoodletitling";
  letter-spacing: 0.1em;
  font-size: 30px;
  text-shadow: black 0 0 3px;
  color: #d6d5d5;
  text-align: center;
  margin: 0 auto;
}
.slider .slide .scroll {
  cursor: pointer;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}
.slider .slide .scroll:focus {
  outline: none;
}
.slider .slide-1 {
  background: url("../img/slider1.jpg") center/cover no-repeat;
}
.slider .slide-1:focus {
  outline: none;
}
.slider .slide-2 {
  background: url("../img/slider2.jpg") center/cover no-repeat;
}
.slider .slide-2:focus {
  outline: none;
}
.slider .slide-3 {
  background: url("../img/slider3.jpg") center/cover no-repeat;
}
.slider .slide-3:focus {
  outline: none;
}
.slider .slick-prev {
  left: 150px;
  top: 50%;
  z-index: 99;
}
.slider .slick-prev::before {
  content: url("../img/leftarrow.png");
  display: block;
  position: absolute;
  width: 26px;
  height: 44px;
}
.slider .slick-prev:hover:before {
  content: url("../img/leftarrow1.png");
}
.slider .slick-next {
  right: 150px;
  top: 50%;
}
.slider .slick-next::before {
  content: url("../img/rightarrow.png");
  display: block;
  position: absolute;
  width: 26px;
  height: 44px;
  z-index: 99;
}
.slider .slick-next:hover:before {
  content: url("../img/rightarrow2.png");
}

@media all and (max-width: 1024px) {
  .slider h2 {
    padding: 0 20px;
  }
  .slider .scroll {
    display: none;
  }
}
@media all and (max-width: 576px) {
  .slider .slide {
    padding: 100px 0;
  }
  .slider .slide .creative {
    padding: 60px 0 20px;
    font-size: 20px;
  }
  .slider .slide h2 {
    letter-spacing: 0;
    font-size: 45px;
    padding-top: 40px;
  }
}
/*about us*/
.aboutus {
  background-color: #fff;
}
.aboutus .container {
  padding: 84px 0 115px;
}
.aboutus .container h3 {
  font-family: "bignoodletitling";
  letter-spacing: 0.1em;
  font-size: 48px;
  font-weight: 300;
  color: #3d3d3d;
  text-align: center;
  margin: 0 auto 20px;
}
.aboutus .container h3:after {
  content: "";
  display: block;
  width: 153px;
  height: 2px;
  background-color: #f4511e;
  margin: 0 auto;
  margin-top: 0px;
}
.aboutus .container .aboutus1 {
  max-width: 550px;
  font-size: 14px;
  letter-spacing: 0;
  font-family: "Roboto Thin";
  text-align: center;
  color: #696969;
  margin: 0 auto 52px;
}
.aboutus .container .block {
  display: grid;
  grid-template: 195px/1fr 1fr 1fr;
  grid-column-gap: 22px;
}
.aboutus .container .block div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
  padding-top: 27px;
}
.aboutus .container .block div:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 0.5s;
}
.aboutus .container .block img {
  margin-bottom: 20px;
}
.aboutus .container .block img:hover {
  transform: scale(1.5);
  transition-duration: 0.6s;
}
.aboutus .container .block h5 {
  font-family: "Roboto Bold";
  letter-spacing: 0.025em;
  font-size: 18px;
  font-weight: 300;
  color: #3d3d3d;
  color: #746b6b;
  margin-bottom: 12px;
}
.aboutus .container .block p {
  font-size: 14px;
  font-family: "Roboto Thin";
  letter-spacing: 0.025em;
  text-align: center;
  color: #707070;
  max-width: 250px;
}

@media all and (max-width: 768px) {
  .aboutus {
    background-color: #fff;
  }
  .aboutus .container {
    padding: 25px 0 25px;
  }
  .aboutus .container .aboutus1 {
    padding: 0 10px 0 10px;
  }
  .aboutus .container .block {
    display: grid;
    grid-template: 195px 195px 195px/1fr;
    grid-gap: 12px;
  }
}
/*video*/
.videomain {
  max-width: 100%;
  display: grid;
  grid-template: 430px/1fr 1fr;
  /*display: none;*/
}
.videomain .videoblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171f23;
  padding-top: 124px;
}
.videomain .videoblock h4 {
  font-family: "Roboto Bold";
  font-size: 30px;
  font-weight: 300;
  color: #e7e7e7;
  margin-bottom: 25px;
}
.videomain .videoblock p {
  font-size: 14px;
  font-family: "Roboto Thin";
  text-align: center;
  color: #696969;
  max-width: 450px;
  margin-bottom: 25px;
}
.videomain .videoblock .buttonvideo {
  font-family: "Roboto Bold";
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ebebeb;
  height: 100%;
  width: 127px;
  height: 35px;
  border: transparent;
  border-bottom: 2px solid #b11000;
  background-color: #e84c3d;
  margin: 0 auto;
}
.videomain video {
  width: 100%;
  height: 430px;
  object-fit: cover;
}

@media all and (max-width: 768px) {
  .videomain {
    grid-template: 430px/1fr;
  }
  .videomain .video {
    height: auto;
  }
  .videomain .video video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media all and (max-width: 576px) {
  .videomain {
    display: none;
  }
}
/*our works*/
.ourworks .container {
  padding: 69px 0 66px;
}
.ourworks .container h3 {
  font-family: "bignoodletitling";
  letter-spacing: 0.1em;
  font-size: 48px;
  font-weight: 300;
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 22px;
}
.ourworks .container h3:after {
  content: "";
  display: block;
  width: 153px;
  height: 2px;
  background-color: #f4511e;
  margin: 0 auto;
  margin-top: 0px;
}
.ourworks .container p {
  font-size: 14px;
  font-family: "Roboto Thin";
  letter-spacing: 0.025em;
  text-align: center;
  color: #707070;
  max-width: 550px;
  margin: 0 auto;
}
.ourworks .buttons-block {
  margin-bottom: 22px;
}
.ourworks .buttons-block .filter-button {
  font-family: "Roboto Light";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  padding: 7px 13px;
}
.ourworks .buttons-block .filter-button:hover {
  font-family: "Roboto Bold";
  font-weight: 600;
  border-bottom: 1px solid #e84c3d;
  border-radius: 0;
  text-align: center;
}
.ourworks .buttons-block .filter-button:focus {
  font-family: "Roboto Bold";
  box-shadow: none;
  font-weight: 600;
  border-bottom: 1px solid #e84c3d;
  border-radius: 0;
}
.ourworks .buttons-block .btn-default:active .filter-button:active {
  color: white;
}
.ourworks .gallery-product {
  height: 175px;
  padding: 0;
}
.ourworks .gallery-product a {
  display: inline-block;
  width: 100%;
  height: 175px;
  overflow: hidden;
  position: relative;
}
.ourworks .gallery-product a:focus {
  outline: none;
  border: 1px solid #f26c4f;
}
.ourworks .gallery-product img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ourworks .gallery-product img:hover {
  opacity: 0.5;
  cursor: zoom-in;
}

@media all and (max-width: 768px) {
  .ourworks .container {
    padding: 0;
  }
  .ourworks .container .ourworks1 {
    padding: 0 10px 0 10px;
  }
  .ourworks .container h3 {
    margin-bottom: 15px;
  }
  .ourworks .container-fluid {
    margin-bottom: 15px;
  }
}
@media all and (max-width: 576px) {
  .ourworks .container {
    padding: 0;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .ourworks .container .ourworks1 {
    padding: 0 10px 0 10px;
  }
  .ourworks .container h3 {
    margin-bottom: 30px;
  }
  .ourworks .container a {
    align-self: flex-end;
  }
}
/*slider2*/
.slider2 {
  background: #1c1c1c;
  padding: 100px 0 80px;
}
.slider2 .slider-theme {
  width: 694px;
  margin: 0 auto;
}
.slider2 .slider-theme .slick-slide {
  width: 220px;
  height: 58px;
  overflow: hidden;
}
.slider2 .slider-theme img {
  margin: 0 auto;
}
.slider2 .slide-theme:focus {
  outline: none;
  border-bottom: solid 1px #ebebeb;
}
.slider2 a:focus {
  outline: none;
}

.slick-prev {
  left: -108px;
  top: 7px;
  z-index: 99;
}

.slick-prev::before {
  content: url("../img/leftarrow3.png");
  display: block;
  position: absolute;
}

.slick-prev:hover:before {
  content: url("../img/leftarrow4.png");
}

.slick-next {
  right: -124px;
  top: 7px;
}

.slick-next::before {
  content: url("../img/rightarrow3.png");
  display: block;
  position: absolute;
  z-index: 99;
}

.slick-next:hover:before {
  content: url("../img/rightarrow4.png");
}

@media all and (max-width: 930px) {
  .slider2 .slider-theme {
    width: 490px;
  }
  .slider2 .slider-theme .img {
    width: 220px;
  }
  .slider2 .slick-prev {
    left: -45px;
    z-index: 99;
  }
  .slider2 .slick-next {
    right: -45px;
  }
}
@media all and (max-width: 576px) {
  .slider2 .slider-theme {
    width: 260px;
  }
  .slider2 .slick-prev {
    left: -15px;
    z-index: 99;
  }
  .slider2 .slick-next {
    right: -15px;
  }
}
/*who we are*/
.whoweare .container {
  padding-top: 69px;
  padding-bottom: 104px;
}
.whoweare .container h3 {
  font-family: "bignoodletitling";
  letter-spacing: 0.1em;
  font-size: 48px;
  font-weight: 300;
  color: #3d3d3d;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
  margin-bottom: 22px;
}
.whoweare .container h3:after {
  content: "";
  display: block;
  width: 153px;
  height: 2px;
  background-color: #f4511e;
  margin: 0 auto;
  margin-top: 0px;
}
.whoweare .container p {
  font-size: 14px;
  font-family: "Roboto Thin";
  letter-spacing: 0.025em;
  text-align: center;
  color: #707070;
  max-width: 550px;
  margin: 0 auto 78px;
}
.whoweare .container .slider-workers {
  display: grid;
  grid-template: 438px/4fr 8fr;
  grid-column-gap: 22px;
}
.whoweare .container .slider-workers .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.whoweare .container .slider-workers .slider-workers1 {
  width: 320px;
  background: #ebebeb;
  display: flex;
  box-sizing: border-box;
  padding-top: 75px;
}
.whoweare .container .slider-workers .slider-workers1 .slide-worker:focus {
  outline: none;
}
.whoweare .container .slider-workers .slider-workers1 .people {
  margin: 0 auto 25px;
}
.whoweare .container .slider-workers .slider-workers1 h4 {
  font-size: 20px;
  font-family: "Roboto Bold";
  letter-spacing: 0.1em;
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 2px;
}
.whoweare .container .slider-workers .slider-workers1 h5 {
  font-size: 14px;
  font-family: "Roboto Light";
  letter-spacing: 0.1em;
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 18px;
}
.whoweare .container .slider-workers .slider-workers1 .designerslinks {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.whoweare .container .slider-workers .slider-workers1 .designerslinks a {
  margin-right: 10px;
}
.whoweare .container .slider-workers .slider-workers1 .slick-dots {
  background: #ebebeb;
  bottom: 80px;
}
.whoweare .container .slider-workers .slider-workers1 .slick-dots li {
  width: 8px;
  height: 8px;
  margin: 4px;
  margin-right: 7px;
}
.whoweare .container .slider-workers .slider-workers1 .slick-dots li button {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0;
}
.whoweare .container .slider-workers .slider-workers1 .slick-dots li button:before {
  content: " ";
  width: 8px;
  height: 8px;
  padding: 0px;
}
.whoweare .container .slider-workers .slider-workers1 .slick-dots li.slick-active button {
  border: 1px solid transparent;
  background-color: #8e8181;
}
.whoweare .container .slider-workers .slider-skills {
  width: 660px;
  background: #ebebeb;
  box-sizing: border-box;
  padding: 120px 50px 20px 70px;
}
.whoweare .container .slider-workers .slider-skills .slide-skill:focus {
  outline: none;
}
.whoweare .container .slider-workers .slider-skills .slide-skill h5 {
  font-size: 24px;
  font-family: "Roboto Condensed";
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  margin-bottom: 15px;
}
.whoweare .container .slider-workers .slider-skills .slide-skill .skills-text {
  font-size: 14px;
  font-family: "Roboto Thin";
  color: #858383;
  margin-bottom: 10px;
}
.whoweare .container .slider-workers .slider-skills .slide-skill .skill-block .ph, .whoweare .container .slider-workers .slider-skills .slide-skill .skill-block .il, .whoweare .container .slider-workers .slider-skills .slide-skill .skill-block .sk, .whoweare .container .slider-workers .slider-skills .slide-skill .skill-block .as {
  display: grid;
  grid-template: 1fr/125px 1fr 30px;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 11px;
}
.whoweare .container .slider-workers .slider-skills .slide-skill .skill-block p {
  font-family: "Roboto Bold";
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  margin: 0;
}
.whoweare .container .slider-workers .slider-skills .slide-skill .skill-block p:last-of-type {
  font-family: "Roboto Thin";
}
.whoweare .container .slider-workers .slider-skills .slide-skill .skill-block span {
  border-bottom: 2px solid transparent;
}
.whoweare .container .slider-workers .slider-skills .bradley .skill-block .ph span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 88%, #fff 88%, #fff);
  border-image-slice: 1;
}
.whoweare .container .slider-workers .slider-skills .bradley .skill-block .il span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 92%, #fff 92%, #fff);
  border-image-slice: 1;
}
.whoweare .container .slider-workers .slider-skills .bradley .skill-block .sk span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 90%, #fff 90%, #fff);
  border-image-slice: 1;
}
.whoweare .container .slider-workers .slider-skills .bradley .skill-block .as span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 98%, #fff 98%, #fff);
  border-image-slice: 1;
}
.whoweare .container .slider-workers .slider-skills .jennifer .skill-block .ph span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 82%, #fff 82%, #fff);
  border-image-slice: 1;
}
.whoweare .container .slider-workers .slider-skills .jennifer .skill-block .il span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 97%, #fff 97%, #fff);
  border-image-slice: 1;
}
.whoweare .container .slider-workers .slider-skills .jennifer .skill-block .sk span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 85%, #fff 85%, #fff);
  border-image-slice: 1;
}
.whoweare .container .slider-workers .slider-skills .jennifer .skill-block .as span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 93%, #fff 93%, #fff);
  border-image-slice: 1;
}
.whoweare .container .slider-workers .slider-skills .antonio .skill-block .ph span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 95%, #fff 95%, #fff);
  border-image-slice: 1;
}
.whoweare .container .slider-workers .slider-skills .antonio .skill-block .il span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 84%, #fff 84%, #fff);
  border-image-slice: 1;
}
.whoweare .container .slider-workers .slider-skills .antonio .skill-block .sk span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 92%, #fff 92%, #fff);
  border-image-slice: 1;
}
.whoweare .container .slider-workers .slider-skills .antonio .skill-block .as span {
  border-image: linear-gradient(90deg, #fc5f45, #fc5f45 89%, #fff 89%, #fff);
  border-image-slice: 1;
}

@media all and (max-width: 1024px) {
  .whoweare .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .whoweare .container p {
    margin: 0px auto 35px;
  }
  .whoweare .container .slider-workers {
    grid-template: 320px 1fr/1fr;
    grid-row-gap: 0;
  }
  .whoweare .container .slider-workers .slider-workers1 {
    width: 95vw;
    padding-top: 30px;
    height: 310px;
  }
  .whoweare .container .slider-workers .slider-workers1 .slick-dots {
    bottom: 20px;
  }
  .whoweare .container .slider-workers .slider-skills {
    width: 95vw;
  }
  .whoweare .container .slider-workers .slider-skills {
    padding: 30px 30px 20px;
    text-align: center;
  }
}
@media all and (max-width: 576px) {
  .whoweare .container {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .whoweare .container p {
    margin: 0px auto 35px;
  }
  .whoweare .container .slider-workers {
    grid-template: 320px 1fr/1fr;
    grid-row-gap: 0;
  }
  .whoweare .container .slider-workers .slider-workers1 {
    width: 88vw;
    padding-top: 30px;
    height: 310px;
  }
  .whoweare .container .slider-workers .slider-workers1 .slick-dots {
    bottom: 20px;
  }
  .whoweare .container .slider-workers .slider-skills {
    width: 88vw;
  }
  .whoweare .container .slider-workers .slider-skills {
    padding: 30px 30px 20px;
    text-align: center;
  }
}
/*somefeatures*/
.features {
  width: 100%;
  background: #171f23;
}
.features .container {
  padding: 53px 10px 47px;
}
.features .container h3 {
  font-family: "Roboto Condensed";
  letter-spacing: 0.2em;
  font-size: 36px;
  font-weight: 300;
  color: #f6f6f6;
  text-align: center;
  margin-bottom: 20px;
}
.features .container h3:after {
  content: "";
  display: block;
  width: 86px;
  height: 1px;
  background-color: #404040;
  margin: 0 auto;
  margin-top: 10px;
}
.features .container .block3 {
  display: grid;
  grid-template: 210px/3fr 3fr 3fr 3fr;
  grid-column-gap: 22px;
}
.features .container .block3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171f23;
  padding-top: 27px;
}
.features .container .block3 div:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 0.5s;
  border: solid 1px #ff7062;
}
.features .container .block3 div:hover h6, .features .container .block3 div:hover p {
  color: #ff7062;
}
.features .container .block3 div img {
  margin-bottom: 27px;
}
.features .container .block3 div h6 {
  font-family: "Roboto Light";
  font-size: 18px;
  font-weight: 300;
  color: #f6f6f6;
  margin-bottom: 8px;
}
.features .container .block3 div p {
  font-size: 48px;
  font-family: "Roboto Thin";
  text-align: center;
  color: #f6f6f6;
  max-width: 250px;
}

@media all and (max-width: 768px) {
  .features {
    background-color: #171f23;
  }
  .features .container {
    padding: 50px 10px 50px;
  }
  .features .container .block3 {
    display: grid;
    grid-template: 210px 210px/1fr 1fr;
    grid-gap: 12px;
  }
  .features .container .block3 div h6 {
    font-size: 16px;
  }
  .features .container .featurescolor {
    border: solid 1px #ff7062;
  }
}
/*blogposts*/
.blogpost .container {
  padding: 65px 0 110px;
}
.blogpost .container h3 {
  font-family: "bignoodletitling";
  letter-spacing: 0.1em;
  font-size: 48px;
  font-weight: 300;
  color: #3d3d3d;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
  margin-bottom: 22px;
}
.blogpost .container h3:after {
  content: "";
  display: block;
  width: 153px;
  height: 2px;
  background-color: #f4511e;
  margin: 0 auto;
  margin-top: 0px;
}
.blogpost .container > p {
  font-size: 14px;
  font-family: "Roboto Thin";
  letter-spacing: 0.025em;
  text-align: center;
  color: #707070;
  max-width: 550px;
  margin: 0 auto 65px;
}
.blogpost .cards-block {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
}
.blogpost .cards-block .card {
  width: 321px;
  border-radius: 0;
  margin: 0 auto;
}
.blogpost .cards-block .card .card-img {
  overflow: hidden;
  border-radius: 0;
  position: relative;
}
.blogpost .cards-block .card .card-img a {
  width: 100%;
  height: 100%;
}
.blogpost .cards-block .card .card-img .button-link {
  display: none;
  background-color: #e87e5d;
  border-radius: 50%;
  border: none;
  height: 43px;
  width: 43px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
}
.blogpost .cards-block .card .card-img .button-link:after {
  content: url(../img/btn-link.png);
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blogpost .cards-block .card .card-img .button-link:after:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 0.5s;
}
.blogpost .cards-block .card .card-img .button-view {
  display: none;
  background-color: #f6e5e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: none;
  height: 43px;
  width: 43px;
  position: absolute;
  top: 50%;
  right: 35%;
  transform: translateY(-50%);
}
.blogpost .cards-block .card .card-img .button-view:after {
  content: "";
  width: 24px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/button-view.png) center no-repeat;
  background-size: contain;
}
.blogpost .cards-block .card .card-img:hover img {
  filter: blur(4px);
}
.blogpost .cards-block .card .card-img:hover .button-link {
  display: block;
  animation: animations 0.9s ease-in 0.5s 1;
}
.blogpost .cards-block .card .card-img:hover .button-view {
  display: block;
  animation: animations 0.9s ease-in 0.5s 1;
}
.blogpost .cards-block .card .card-body {
  background: #ebebeb;
  padding-top: 35px;
}
.blogpost .cards-block .card .card-body h6 {
  font-family: "Roboto Light";
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 300;
  color: #505050;
  margin-bottom: 21px;
}
.blogpost .cards-block .card .card-body p {
  font-size: 14px;
  font-family: "Roboto Thin";
  letter-spacing: 0.025em;
  line-height: 1.2;
  text-align: start;
  color: #707070;
  max-width: 250px;
}
.blogpost .cards-block .card .card-footer {
  background: #ebebeb;
  border-top: transparent;
  display: flex;
  justify-content: space-between;
}
.blogpost .cards-block .card .card-footer time {
  font-family: "Roboto Condensed";
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #8a8989;
  margin-left: 5px;
}
.blogpost .cards-block .card .card-footer span {
  font-family: "Roboto Condensed";
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #8a8989;
  margin-left: 5px;
}

@media all and (max-width: 1010px) {
  .blogpost .container .cards-block {
    grid-template: 1fr 1fr/1fr 1fr;
    grid-row-gap: 20px;
  }
  .blogpost .container .cards-block .card:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media all and (max-width: 768px) {
  .blogpost {
    background-color: #fff;
    padding-bottom: 30px;
  }
  .blogpost .container {
    padding: 25px 0 25px;
  }
  .blogpost .container > p {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .blogpost .container .cards-block {
    grid-template: 1fr 1fr 1fr/1fr;
  }
  .blogpost .container .cards-block .card {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .blogpost .container .cards-block div {
    border: transparent;
  }
  .blogpost .container .cards-block div:hover {
    transform: none;
  }
}
/*choseplan*/
.choseplan {
  width: 100%;
  background: #171f23;
}
.choseplan .container {
  padding: 53px 0 94px;
}
.choseplan .container h3 {
  font-family: "Roboto Condensed";
  letter-spacing: 0.2em;
  font-size: 36px;
  font-weight: 300;
  color: #f6f6f6;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 53px;
}
.choseplan .container h3:after {
  content: "";
  display: block;
  width: 86px;
  height: 1px;
  background-color: #404040;
  margin: 0 auto;
  margin-top: 10px;
}
.choseplan .container .block5 {
  display: grid;
  grid-template: 450px/3fr 3fr 3fr 3fr;
  grid-column-gap: 3px;
}
.choseplan .container .block5 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choseplan .container .block5 .colorblock .colortop {
  width: 100%;
  background: #0e1316;
  padding-top: 40px;
  padding-bottom: 22px;
}
.choseplan .container .block5 .colorblock .colortop h6 {
  font-family: "Roboto Bold";
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: #f6f6f6;
}
.choseplan .container .block5 .colorblock .colortop p {
  font-size: 36px;
  font-family: "Roboto Light";
  text-align: center;
  color: #f6f6f6;
}
.choseplan .container .block5 .colorblock .colorbottom {
  width: 100%;
  height: 100%;
  background: #1f282c;
  padding: 25px;
}
.choseplan .container .block5 .colorblock .colorbottom ul {
  list-style-type: none;
  margin-bottom: 75px;
}
.choseplan .container .block5 .colorblock .colorbottom li {
  font-size: 14px;
  font-family: "Roboto Regular";
  text-align: center;
  color: #f6f6f6;
  margin-top: 16px;
}
.choseplan .container .block5 .colorblock .colorbottom .buttonplan {
  width: 100%;
  height: 100%;
  font-family: "Roboto Bold";
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ebebeb;
  height: 100%;
  width: 127px;
  height: 35px;
  border: transparent;
  border-radius: 3px;
  background-color: #f6744b;
  margin: 0 auto;
}
.choseplan .container .block5 .colorblock .colorbottom .buttonplan:focus {
  outline: none;
  border: solid 1px #b11000;
}
.choseplan .container .block5 .colorblock .colorbottom .buttonplan:hover {
  transform: scale(1.02, 1.02);
  transition-duration: 0.2s;
}
.choseplan .container .block5 .colorblock:hover {
  transform: scale(1.02, 1.02);
  transition-duration: 0.3s;
  border: solid 1px #ff7062;
}
.choseplan .container .block5 .colorblock:hover b {
  color: #ff7062;
}

@media all and (max-width: 1004px) {
  .choseplan .container {
    padding: 50px 10px 50px;
  }
  .choseplan .container .block5 {
    display: grid;
    grid-template: 450px 450px/1fr 1fr;
    grid-gap: 12px;
  }
  .choseplan .container div {
    border: transparent;
  }
  .choseplan .container div:hover {
    transform: none;
  }
}
@media all and (max-width: 576px) {
  .choseplan .container {
    padding: 50px 10px 50px;
  }
  .choseplan .container .block5 {
    display: grid;
    grid-template: 450px/1fr;
    grid-gap: 12px;
  }
  .choseplan .container div {
    border: transparent;
  }
  .choseplan .container div:hover {
    transform: none;
  }
}
/*get in touch*/
.form {
  background-color: #fff;
}
.form .container {
  padding-top: 70px;
  padding-bottom: 83px;
}
.form .container h3 {
  font-family: "bignoodletitling";
  letter-spacing: 0.1em;
  font-size: 48px;
  font-weight: 300;
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 22px;
}
.form .container h3::after {
  content: "";
  display: block;
  width: 153px;
  height: 2px;
  background-color: #f4511e;
  margin: 0 auto;
  margin-top: 0px;
}
.form .container p {
  font-size: 14px;
  font-family: "Roboto Thin";
  letter-spacing: 0.025em;
  text-align: center;
  color: #707070;
  padding: 0 210px;
  margin: 0 auto 85px;
}
.form .container form {
  margin: 0;
}
.form .container form .name, .form .container form .mail {
  margin-bottom: 40px;
}
.form .container form label {
  font-family: "Roboto Bold";
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #696969;
  margin-bottom: 13px;
  position: relative;
}
.form .container form label::after {
  content: "*";
  color: #f6744b;
  position: absolute;
  top: -2px;
  right: -10px;
}
.form .container form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}
.form .container form input:focus {
  box-shadow: none;
  border: 2px solid #ced4da;
}
.form .container form ::placeholder {
  font-family: "Roboto Bold";
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #696969;
}
.form .container form .textarea {
  margin-bottom: 60px;
}
.form .container form .textarea textarea {
  height: 73px;
  resize: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}
.form .container form .textarea textarea:focus {
  box-shadow: none;
  border: 2px solid #ced4da;
}
.form .container form button {
  width: 203px;
  height: 51px;
  border: transparent;
  background-color: #f6744b;
  letter-spacing: 0.1em;
  font-family: "Roboto Bold";
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
}
.form .container form button:hover {
  transform: scale(1.02, 1.02);
  transition-duration: 0.3s;
}
.form .container form button:focus {
  outline: none;
  border: solid 1px #b11000;
}

@media all and (max-width: 768px) {
  .form .container p {
    padding: 0px 20px;
  }
}
@media all and (max-width: 576px) {
  .form .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .form .container p {
    padding: 0px 25px;
    margin: 0 auto 20px;
  }
  .form .container form .name, .form .container form .mail {
    margin-bottom: 25px;
  }
  .form .container form .textarea {
    margin-bottom: 30px;
  }
}
/*locate*/
.locate {
  width: 100%;
  background: #0c1215;
  font-family: "Roboto Bold";
  font-size: 24px;
}
.locate .accordion {
  font-family: "Roboto Condensed";
  font-size: 24px;
  letter-spacing: 0.1em;
  background-color: #0c1215;
  color: #fff;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  transition: 0.5s;
  padding-top: 28px;
  padding-bottom: 28px;
}
.locate iframe {
  width: 800px;
  height: 600px;
  border: solid 1px gray;
}
.locate .active, .locate .accordion:hover {
  background-color: #1f282c;
}
.locate .accordion:after {
  content: url("../img/arrowdown.png");
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  float: center;
  margin-left: 5px;
}
.locate .active:after {
  content: url("../img/arrowtop.png");
}
.locate .panel {
  padding: 0 18px;
  color: #212121;
  background-color: #ebebeb;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.locate p {
  padding-right: 22px;
}

@media all and (max-width: 800px) {
  iframe {
    max-width: 100%;
  }
}
/*footer*/
.footer {
  background: #171f23;
}
.footer .container {
  padding: 53px 0 45px;
}
.footer .container h3 {
  font-family: "bignoodletitling";
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
  margin-bottom: 4px;
}
.footer .container p {
  font-family: "Roboto Condensed";
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
  margin-bottom: 4px;
}
.footer .container .sociallinks {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: space-between;
  margin-bottom: 4px;
}
.footer .container .sociallinks a {
  margin-right: 7px;
}
.footer .container .sociallinks a:focus {
  outline: none;
  border-bottom: solid 1px #ebebeb;
}
.footer .container .be:hover {
  content: url("../img/be1.png");
}
.footer .container .twitter:hover {
  content: url("../img/twitter1.png");
}
.footer .container .facebook:hover {
  content: url("../img/facebook1.png");
}

/*# sourceMappingURL=style.css.map */
