@import "./normalize.css";

@font-face {
    font-family: "bignoodletitling";
    src: url("../fonts/bignoodletitling/big_noodle_titling.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/3955.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/3966.ttf") format("trSuetype");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("../fonts/3967.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/3959.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/3962.ttf") format("truetype");
}

@font-face {
    font-family: "Bold Condensed";
    src: url("../fonts/3956.ttf") format("truetype");
}


@mixin separator {
    content: "";
    display: block;
    width: 153px;
    height: 2px;
    background-color: #f4511e;
    margin: 0 auto;
}

@mixin separator1 {
    content: "";
    display: block;
    width: 86px;
    height: 1px;
    background-color: #404040;
    margin: 0 auto;
}

$background-color: #f8f6f6;

$font-family: "bignoodletitling";

$color: #d6d5d5; 

$color1: #3d3d3d;

$text-shadow: black 0 0 3px;

p, h1, h2, h3, h4, h5, h6, ul, nav {
	margin: 0;
	padding-right: 0;
}

ul {
	padding: 0;
}

body {
	font-family: "Roboto Bold";
    font-size: 16px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.container {
    max-width: 1046px;
    box-sizing: border-box;
    padding: 0 21px;
    margin: 0 auto;
}

/*header*/

header { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 144px;
    background-color: $background-color;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    
    .logo {
        align-items: center;
	    margin: -4px;
    }

    nav {
        max-width: 655px;
        width: 100%;
        margin: -47px;
        padding-top: 15px;
    }

    ul { 
        display: flex;
        height: 100%;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        font-family: "Roboto Bold";
        color: #8d8c8c;
        font-size: 20.35px;  
        padding: 0 14px;
        padding-top: 6px;
    }

     a:hover {
        color: #f6744b;
        
    }

}

/*slider first*/

.slider {
    width: 100%;
    padding-top: 144px;
    /*position: relative;*/

    .scroll {
        cursor: pointer;
        position: absolute;
        bottom: 45px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
    }

    .slide {
        position: relative;
        border: none;
    }

    .img-bg {
        width: 100%;
        height: 706px;
    }

    h1 {
        position: fixed;
        font-family: $font-family;
        letter-spacing: 0.15em;
        font-size: 72px;
        margin-left: -99999px; 
    }

    h2 {
        font-family: $font-family;
        letter-spacing: 0.15em;
        font-size: 72px;
        width: 980px;
        font-weight: 300;
        text-shadow: $text-shadow;
        position: absolute;
        top: 43.5%;
        left: 50%;
        transform: translateX(-50%);
        //margin-left: -465px;  
        color: $color;
        z-index: 10;
    }

    .creative {
        font-family: $font-family;
        letter-spacing: 0.1em;
        font-size: 36px;
        text-shadow: $text-shadow;
        position: absolute;
        top: 55.5%;
        left: 50%;
        transform: translateX(-50%);
        //margin-left: -178px;  
        color: $color;    
    }

    .slick-prev {
        left: 150px;
        z-index: 99;
    }
    
    .slick-prev::before {
        content: url("../img/leftarrow.png");
        display: block;
        position: absolute;
        width: 26px;
        height: 44px;  
    }

    .slick-prev:hover:before {
        content: url("../img/leftarrow1.png"); 
    } 

    .slick-next {
        right: 150px;
    }

    .slick-next::before {
        content: url("../img/rightarrow.png"); 
        display: block; 
        position: absolute; 
        width: 26px;
        height: 44px;
        z-index: 99;
    }

    .slick-next:hover:before {
        content: url("../img/rightarrow2.png"); 
    }

}

@media all and (max-width: 1024px) {

    .slider{

        h2 {
            font-family: "bignoodletitling";
            font-size: 44px;
            position: absolute;
            width: 590px;
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
        }

        .creative {
            font-family: "bignoodletitling";
            font-size: 30px;
            position: absolute;
            width: 330px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }

        .scroll {
            display: none;
        }

    }

}

@media all and (max-width: 767px) {

    .slider {
        height: 255px;
        background-color: #ebebeb;
        
        .slide {
            height: 255px;

        .img-bg {
            display: none;
        }

        h2 {
            font-family: "bignoodletitling"; 
            font-size: 30px;
            color: #fff;
            position: absolute; 
            width: 440px;
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 20;
        }

        .creative {
            font-family: "bignoodletitling";
            font-size: 22px;
            position: absolute;
            width: 300px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }

        .scroll {
            display: none;
        }

    }

    }

}


/*about us*/

.aboutus {
    background-color: #fff;

    .container {
        padding: 84px 0 115px;

        h3 {
            font-family: $font-family;
            letter-spacing: 0.1em;
            font-size: 48px;
            font-weight: 300;
            color: $color1;
            text-align: center;
            //vertical-align: center;
            margin: 0 auto 20px;
        }    
            
        h3::after {
            @include separator;
            margin-top: 0px;
        }
                
        .aboutus1 {
            max-width: 550px;
            font-size: 14px;
            letter-spacing: 0;
            font-family: "Roboto Thin";
            text-align: center;
            color: #696969;
            margin: 0 auto 52px;
            //padding-top: 20px;
        }

        .block {
            display: grid;
            grid-template: 195px / 1fr 1fr 1fr;
            grid-column-gap: 22px;
            //margin-top: 52px;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                //box-sizing: border-box;
                background-color: #ebebeb; 
                padding-top: 27px;       
            }

            div:hover {
                transform: scale(1.05, 1.05);
                transition-duration: .5s;
            }

            img {
                //margin-top: 27px;
                margin-bottom: 20px;
            }

            img:hover {
                transform: scale(1.5);
                transition-duration: .6s;
            }

            h5 {
                font-family: "Roboto Bold"; 
                letter-spacing: 0.025em;
                font-size: 18px;
                font-weight: 300;
                color: $color1;  
                //margin-top: 20px;
                color: #746b6b;
                margin-bottom: 12px;
            }

            p {
                font-size: 14px;
                font-family: "Roboto Thin";
                letter-spacing: 0.025em;
                text-align: center;
                color: #707070;
                max-width: 250px;
                //margin-top: 12px;
            }
            
        }

    }

}

@media all and (max-width: 767px) {
    
    .aboutus {
        background-color: #fff;
    
        .container {
            padding: 50px 0 50px;

            .block {
                display: grid;
                grid-template: 195px 195px 195px/ 1fr;
                grid-gap: 12px;
            }
            
        }
            
    }

}

/*video*/

.videomain {
    max-width: 100%;
    background: url(../img/video.png);
    display: grid;
    grid-template: 430px / 1fr 1fr;
    display: none;

    .videoblock {
        display: flex;
        flex-direction: column;
        align-items: center;
        //box-sizing: border-box;
        background-color: #171f23;
        padding-top: 124px;
            
        h4 {
            font-family: "Roboto Bold"; 
            font-size: 30px;
            font-weight: 300;
            //color: $color1;  
            color: #e7e7e7; 
            //margin-top: 124px;
            margin-bottom: 25px;
        }  

        p {
            font-size: 14px;
            font-family: "Roboto Thin";
            text-align: center;
            color: #696969;
            max-width: 450px;
            //margin-top: 25px;
            margin-bottom: 25px;
        }

        .buttonvideo {
            //position: absolute;
            width: 127px;
            height: 35px;
            border: transparent;
            border-bottom: 2px solid #b11000;
            background-color: #e84c3d;
            margin: 0 auto;
            //margin-top: 290px;

            a {    
                font-family: "Roboto Bold"; 
                font-size: 14px;
                text-decoration: none;
                text-align: center;
                color: #ebebeb;
                height: 100%;
            }

        } 

    }

}

/*our works*/

.ourworks {
    max-width: 100%;
    

    .container {
        padding: 69px 0 66px;

        h3 {
            font-family: $font-family;
            letter-spacing: 0.1em;
            font-size: 48px;
            font-weight: 300;
            color: $color1;
            //margin: 0 auto;
            text-align: center;
            //vertical-align: center;
            margin-bottom: 22px;
        }    
            
        h3::after {
            @include separator;
            margin-top: 0px;
        }

        p {
            font-size: 14px;
            font-family: "Roboto Thin";
            letter-spacing: 0.025em;
            text-align: center;
            color: #707070;
            max-width: 550px;
            margin: 0 auto;
            //margin-top: 12px;
        }

    }

    .buttons-block {
        margin-bottom: 22px;

        .filter-button {
            font-family: "Roboto Light"; 
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.1em;
            color: #3d3d3d; 
            padding: 7px 13px;
            //margin-top: 66px;
            //margin-bottom: 22px;
        }

    }

    .filter-button:hover {
        font-family: "Roboto Bold"; 
        font-weight: 600;
        border-bottom: 1px solid #e84c3d;
        border-radius: 0;
        text-align: center;
    }

    .filter-button:focus{
        font-family: "Roboto Bold"; 
        box-shadow: none;
        font-weight: 600;
        border-bottom: 1px solid #e84c3d;
        border-radius: 0;
    }

    .btn-default:active .filter-button:active {
        color: white;
    }

    .gallery-product {
        height: 175px;
        padding: 0;
    
        a {
            display: inline-block;
            width: 100%;
            height: 175px;
            overflow: hidden;
            position: relative;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
   
        }

        img:hover {
            opacity: .5;
            cursor: zoom-in;
        }

    }
        
}

@media all and (max-width: 768px) {

    .ourworks {
        

        .container {
            padding: 0;

            h3 {
                margin-bottom: 15px;
            }

        }

        .container-fluid {
            margin-bottom: 15px;
        }

    }

}

@media all and (max-width: 576px) {

    .ourworks {
        

        .container {
            padding: 0;
            flex-direction: column;
            margin-bottom: 15px;

            h3 {
                margin-bottom: 50px;
            }

            a {
                align-self: flex-end;
            }

        }

    }

}


/*slider2*/
.slider2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1c1c1c;
    //padding-top: 75px;
    //padding-bottom: 75px;
    padding: 75px 0;

    .slider-theme {
        width: 683px;
        padding-top: 30px;

        .slick-track {
            margin: 0;

        .slick-slide {
            display: flex;
            align-items: center;
            justify-content: center;

        }

    }

}

    .slick-prev {
        left: -108px;
        z-index: 99;
    }
    
    .slick-prev::before {
        content: url("../img/leftarrow3.png");
        display: block;
        position: absolute;
        
    }

    .slick-prev:hover:before {
        content: url("../img/leftarrow4.png"); 
    } 

    .slick-next {
        right: -124px;
    }

    .slick-next::before {
        content: url("../img/rightarrow3.png"); 
        display: block; 
        position: absolute; 
        z-index: 99;
    }

    .slick-next:hover:before {
        content: url("../img/rightarrow4.png"); 
    }

}

/*who we are*/

.whoweare {

    .container {
        padding-top: 69px;
        padding-bottom: 104px;


        h3 {
            font-family: $font-family;
            letter-spacing: 0.1em;
            font-size: 48px;
            font-weight: 300;
            color: $color1;
            margin: 0 auto;
            text-align: center;
            vertical-align: center;
            margin-bottom: 22px;
        }    
            
        h3::after {
            @include separator;
            margin-top: 0px;
        }

        p {
            font-size: 14px;
            font-family: "Roboto Thin";
            letter-spacing: 0.025em;
            text-align: center;
            color: #707070;
            max-width: 550px;
            margin: 0 auto 78px;
        }

        .slider-workers {
            display: grid;
            grid-template: 438px / 4fr 8fr;
            grid-column-gap: 22px;

            .slick-dotted.slick-slider {
                margin-bottom: 0;
            }
            
            .slider-workers1 {
                width: 320px;
                background: #ebebeb;
                display: flex;
                box-sizing: border-box;
                padding-top: 75px;
                
                .people {
                    margin: 0 auto 25px;
                   
                }
                
                h4 {
                    font-size: 20px;
                    font-family: "Roboto Bold";
                    letter-spacing: 0.1em;
                    color: #3d3d3d;
                    text-align: center;
                    margin-bottom: 2px;
                   
                }

                h5 {
                    font-size: 14px;
                    font-family: "Roboto Light";
                    letter-spacing: 0.1em;
                    color: #3d3d3d;
                    text-align: center;
                    margin-bottom: 18px;
                }

                .designerslinks {
                    display: flex;
                    justify-content: center; 
                    flex-direction: row;
                    align-content: space-between;
                    a {
                        margin-right: 7px;
                    }
                    
                }
                
                .slick-dots {
                    background: #ebebeb;
                    bottom: 80px;
                }
                
                .slick-dots li {
                    width: 8px;
                    height: 8px;
                    margin: 4px;
                    margin-right: 7px;
                }
                
                .slick-dots li button {
                    border: 1px solid #fff;
                    background-color: #fff;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    padding: 0;
                }
                
                .slick-dots li button:before {
                    content: " ";
                    width: 8px;
                    height: 8px;
                    padding: 0px;
                }
                
                .slick-dots li.slick-active button {
                    border: 1px solid transparent;
                    background-color: #8e8181;
                }

            }

            .slider-skills {
                width: 660px;
                background: #ebebeb;
                box-sizing: border-box;
                padding: 120px 50px 20px 70px;

                .slide-skill {

                    h5 {
                        font-size: 24px;
                        font-family: "Roboto Condensed";
                        font-weight: 600;
                        letter-spacing: 0.1em;
                        color: #3d3d3d;
                        margin-bottom: 15px;
                    }
    
                    .skills-text {
                        font-size: 14px;
                        font-family: "Roboto Thin";
                        color: #858383;
                        margin-bottom: 10px;
                    }
    
                    .skill-block {
    
                        div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 11px;
                        }
    
                        p {
                            font-family: "Roboto Bold";
                            font-size: 14px;
                            text-align: left;
                            letter-spacing: 0.1em;
                            color: #3d3d3d;
                            margin: 0;
    
                            &:first-of-type {
                                width: 135px;
                            }
    
                            &:last-of-type {
                                font-family: "Roboto Thin";
                            }
    
                        }
    
                        span {
                            display: inline-block;
                            width: 370px;
                            height: 5px;
                            border-bottom: 2px solid transparent;
                        }

                    }
    
                }

                .bradley {

                    .skill-block {

                        .ph {

                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 88%,#fff 88%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }
    
                        .il {
         
                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 92%,#fff 92%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }
                    
                        .sk {
              
                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 90%,#fff 90%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }
                    
                        .as {
    
                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 98%,#fff 98%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }

                    }

                }

                .jennifer {

                    .skill-block {

                        .ph {

                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 82%,#fff 82%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }
    
                        .il {
         
                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 97%,#fff 97%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }
                    
                        .sk {
              
                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 85%,#fff 85%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }
                    
                        .as {
    
                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 93%,#fff 93%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }

                    }

                }

                .antonio {

                    .skill-block {

                        .ph {

                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 95%,#fff 95%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }
    
                        .il {
         
                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 84%,#fff 84%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }
                    
                        .sk {
              
                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 92%,#fff 92%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }
                    
                        .as {
    
                            span {
                                border-image: linear-gradient(90deg, #fc5f45, #fc5f45 89%,#fff 89%, #fff);
                                border-image-slice: 1;
                            }
                            
                        }

                    }

                }

            }

        }

    }
    
}

/*somefeatures*/

.features {
    width: 100%;
    background: #171f23;
    //padding-bottom: 47px;

    .container {
        padding: 53px 0 47px;

        h3 {
            font-family: "Roboto Condensed";
            letter-spacing: 0.2em;
            font-size: 36px;
            font-weight: 300;
            color: #f6f6f6;
            //margin: 0 auto;
            text-align: center;
            //padding-top: 53px;
            margin-bottom: 20px;
        }    
            
        h3::after {
            @include separator1;
            margin-top: 10px;
        }

        .block3 {
            display: grid;
            grid-template: 210px / 3fr 3fr 3fr 3fr;
            grid-column-gap: 22px;
            //margin-top: 20px;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                //box-sizing: border-box;
                background-color: #171f23;  
                padding-top: 27px;
            }

            div:hover {
                transform: scale(1.05, 1.05);
                transition-duration: .5s;
                border: solid 1px #ff7062;

                h6, p {
                    color:#ff7062;
                }  

            }

            img {
                //margin-top: 27px;
                margin-bottom: 27px;
            }

            h6 {
                font-family: "Roboto Light";
                font-size: 18px;
                font-weight: 300;
                //padding-top: 27px;
                color: #f6f6f6;
                margin-bottom: 8px;
            }

            p {
                font-size: 48px;
                font-family: "Roboto Thin";
                text-align: center;
                color: #f6f6f6;
                max-width: 250px;
                //padding-top: 8px;
            }
            
        }

    }

}

@media all and (max-width: 768px) {
    
    .features {
        background-color: #171f23;
    
        .container {
            padding: 50px 0 50px;

            .block3 {
                display: grid;
                grid-template: 210px 210px 210px/ 1fr;
                grid-gap: 12px;
            }

            div {
                border: solid 1px #ff7062;
            }

            div:hover {
                transform:none;
            }
            
        }
            
    }

}

/*blogposts*/

.blogpost {
    max-width: 100%;
    //height: 796px;
    padding-bottom: 113px;

    .container {
        padding: 65px 0;


        h3 {
            font-family: $font-family;
            letter-spacing: 0.1em;
            font-size: 48px;
            font-weight: 300;
            color: $color1;
            margin: 0 auto;
            text-align: center;
            vertical-align: center;
            //padding-top: 65px;
            margin-bottom: 22px;
        }    
            
        h3::after {
            @include separator;
            margin-top: 0px;
        }

        p {
            font-size: 14px;
            font-family: "Roboto Thin";
            letter-spacing: 0.025em;
            text-align: center;
            color: #707070;
            max-width: 550px;
            margin: 0 auto;
            //margin-top: 12px;
        }

    }

    .row {
        width: 1004px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-between;
        margin: 0 auto;
        //padding-top: 75px;
    }
    
    .card {
        width: 321px;
        border-radius: 0;

        .card-img {
            overflow: hidden;
            border-radius: 0;
            position: relative;
    
            a {
                width: 100%;
                height: 100%;
            }
    
            .button-link {
                display: none;
                background-color: #e87e5d;
                border-radius: 50%;
                border: none;
                height: 43px;
                width: 43px;
                position: relative;
                position: absolute;
                top: 50%;
                left: 35%;
                transform: translateY(-50%);

                &:after {
                    content: url(../img/btn-link.png);
                    width: 21px;
                    height: 21px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

            }
    
            .button-view {
                display: none;
                background-color: #f6e5e0;
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
                border-radius: 50%;
                border: none;
                height: 43px;
                width: 43px;
                position: relative;
                position: absolute;
                top: 50%;
                right: 35%;
                transform: translateY(-50%);

                &:after {
                    content: '';
                    width: 24px;
                    height: 15px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: url(../img/button-view.png) center no-repeat;
                    background-size: contain;
                }

            }

            &:hover {
    
                img {
                    filter: blur(4px);    
                }
                
                .button-link {
                    display: block;
                    
                }
        
                .button-view {
                    display: block;
                    
                }
            }
    
        }

    }    

    .card-body {
        background: #ebebeb;
        padding-top: 35px;

        h6 {
            font-family: "Roboto Light";
            letter-spacing: 0.1em;
            font-size: 18px;
            font-weight: 300;
            //padding-top: 27px;
            color: #505050;
            //padding-top: 14px;
            margin-bottom: 21px;
        }
    
        p {
            font-size: 14px;
            font-family: "Roboto Thin";
            letter-spacing: 0.025em;
            line-height: 1.2;
            text-align: start;
            color: #707070;
            max-width: 250px;
            //margin: 26px 0px 0px 6px;
        }

    }

    .card-footer {
        background: #ebebeb;
        border-top: transparent;
        display: flex;
        justify-content: space-between;

        time {
            font-family: "Roboto Condensed";
            font-size: 10px;
            letter-spacing: 0.1em;
            color: #8a8989;
            //padding-left: 5px;
            margin-left: 5px;
        }
    
        span {
            font-family: "Roboto Condensed";
            font-size: 10px;
            letter-spacing: 0.1em;
            color: #8a8989;
            //padding-left: 5px;
            margin-left: 5px;
        }

    }

}

/*choseplan*/

.choseplan {
    width: 100%;
    background: #171f23;
    //padding-bottom: 94px;

    .container {
        //width: 1004px;
        padding: 53px 0 94px;

        h3 {
            font-family: "Roboto Condensed";
            letter-spacing: 0.2em;
            font-size: 36px;
            font-weight: 300;
            color: #f6f6f6;
            margin: 0 auto;
            text-align: center;
            //padding-top: 53px;
            margin-bottom: 53px;
        }    
            
        h3::after {
            @include separator1;
            margin-top: 10px;
        }

        .block5 {
            display: grid;
            grid-template: 450px / 3fr 3fr 3fr 3fr;
            grid-column-gap: 3px;
            //padding-top: 53px;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                //box-sizing: border-box;
            }

            .colorblock {

                .colortop {
                    width: 100%;
                    background: #0e1316;
                    padding-top: 40px;
                    padding-bottom: 22px;

                    h6 {
                        font-family: "Roboto Bold";
                        font-size: 14px;
                        letter-spacing: 0.1em;
                        font-weight: 300;
                        //padding-top: 40px;
                        color: #f6f6f6;
                    }

                    p {
                        font-size: 36px;
                        font-family: "Roboto Light";
                        text-align: center;
                        color: #f6f6f6;
                        //margin-top: -7px;
                        //padding-bottom: 22px;
                    }

                }
    
                .colorbottom {
                    width: 100%;
                    height: 100%;
                    background: #1f282c;
                    padding: 25px;
                    
                    ul {
                        list-style-type: none;
                        //padding: 25px;
                        margin-bottom: 75px;
                    }
        
                    li {
                        font-size: 14px;
                        font-family: "Roboto Regular";
                        text-align: center;
                        color: #f6f6f6;
                        //padding-top: 16px;
                        margin-top: 16px;
                    }

                    .buttonplan {
                        //position: absolute;
                        width: 127px;
                        height: 35px;
                        border: transparent;
                        border-radius: 3px;
                        background-color: #f6744b;
                        margin: 0 auto;
                        //margin-top: 239px;
        
                        a {
                            width: 100%;
                            height: 100%;
                            font-family: "Roboto Bold"; 
                            font-size: 14px;
                            text-decoration: none;
                            text-align: center;
                            color: #ebebeb;
                            height: 100%;
                       }
    
                        &:hover {
                            transform: scale(1.02, 1.02);
                            transition-duration: .2s;
                        }
        
                    }

                }

                &:hover {
                    transform: scale(1.02, 1.02);
                    transition-duration: .3s;
                    border: solid 1px #ff7062;
    
                    b {
                        color:#ff7062;
                    }
    
                }

            }           

        }

    }

}

/*get in touch*/

.form {
    background-color: #fff;

    .container {
        //max-width: 780px;
        padding-top: 70px;
        padding-bottom: 83px;

        h3 {
            font-family: $font-family;
            letter-spacing: 0.1em;
            font-size: 48px;
            font-weight: 300;
            color: $color1;
            //margin: 0 auto;
            text-align: center;
            //vertical-align: center;
            margin-bottom: 22px;
        }    
            
        h3::after {
            @include separator;
            margin-top: 0px;
        }

        p {
            font-size: 14px;
            font-family: "Roboto Thin";
            letter-spacing: 0.025em;
            text-align: center;
            color: #707070;
            //max-width: 550px;
            padding: 0 210px;
            margin: 0 auto 85px;
            //margin-top: 22px;
        }

        form {

            .name, .mail {
                margin-bottom: 40px;
            }

            label {
                font-family: "Roboto Bold";
                font-size: 14px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #696969;
                margin-bottom: 13px;
                position: relative;

                &::after {
                    content: '*';
                    color: #f6744b;
                    position: absolute;
                    top: -2px;
                    right: -10px;
                }

            }

            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid #ced4da;
                border-radius: 0;
                //padding: 28px 0 60px;
                //outline: none;

                &:focus {
                    box-shadow: none;
                    border: 2px solid #ced4da;
                }

            }

            ::placeholder {
                font-family: "Roboto Bold";
                font-size: 14px;
                letter-spacing: 0.1em;
                color: #696969;
            }

            .textarea {
                margin-bottom: 60px;
            }

            textarea {
                height: 73px;
                //margin-top: 33px;
                resize: none;
                width: 100%;
                border: none;
                border-bottom: 1px solid #ced4da;
                border-radius: 0;
                //padding-bottom: 60px;

                &:focus {
                    box-shadow: none;
                    border: 2px solid #ced4da;
                }
                
            }

            button {
                //position: absolute;
                width: 203px;
                height: 51px;
                border: transparent;
                background-color: #f6744b;
                letter-spacing: 0.1em;
                //left: 50%;
                //margin-left: -92px;
                //margin-top: 43px;    
                font-family: "Roboto Bold"; 
                font-size: 14px;
                text-decoration: none;
                //text-align: center;
                color: #fff;
                margin: 0 auto;
            }

        }

    }
    
}

/*locate*/

.locate {
    width: 100%;
    background: #0c1215;
    font-family: "Roboto Bold";
    font-size: 24px;

    .accordion {
        font-family: "Roboto Condensed";
        font-size: 24px;
        letter-spacing: 0.1em;
        background-color: #0c1215;
        color: #fff;
        cursor: pointer;
        padding: 16px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        transition: 0.5s;
        padding-top: 28px;
        padding-bottom: 28px;
    }

    iframe {
        width: 800px;
        height: 600px; 
        border: solid 1px gray;
    }
    
    .active, .accordion:hover {
        background-color: #1f282c;
    }
    
    .accordion:after {
        content: url("../img/arrowdown.png");
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        float: center;
        margin-left: 5px;
    }
    
    .active:after {
        content: url("../img/arrowtop.png");
    }
    
    .panel {
        padding: 0 18px;
        color: #212121;
        background-color: #ebebeb;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    p {
        padding-right: 22px;
    }
     
}

.footer {
    width: 100%;
    background: #171f23;

        .container {
            padding: 53px 0 94px;
            

        h3 {
            font-family: "bignoodletitling";
            font-size: 24px;
            letter-spacing: 0.1em;
            color: #fff;
            text-align: center;
            margin-bottom: 4px;

        }

        p {
            font-family: "Roboto Condensed";
            font-size: 14px;
            letter-spacing: 0.1em;
            color: #fff;
            text-align: center;
            margin-bottom: 4px;

        }

        .sociallinks {
            display: flex;
            justify-content: center; 
            flex-direction: row;
            align-content: space-between;
            margin-bottom: 4px;
                a {
                    margin-right: 7px;
                }

        }

    }
    
}
